.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.AppBG{
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.btn{
  @apply  font-sans font-bold uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg text-white shadow-md hover:shadow-lg focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none bg-purple-200 shadow-purple-500 hover:shadow-purple-500
}

.input{
  @apply w-full h-full bg-transparent text-blue-gray-700 font-sans font-normal outline outline-0 focus:outline-0 disabled:bg-blue-gray-50 disabled:border-0 transition-all hover:shadow-md hover:shadow-purple-500 focus:shadow-lg focus:shadow-purple-500 placeholder-shown:border-blue-gray-200 border focus:border text-sm px-3 py-2.5 rounded-[7px] border-blue-gray-200 focus:border-purple-200 text-gray-50 
}